.git
.github

.env
.env.*
!.env.example

vendor
node_modules

public/build
public/hot
public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.phpunit.result.cache

tests
docs

npm-debug.log
yarn-error.log
